<!DOCTYPE html><html lang="en"><head>
        <script src="{{ url_for('static', filename = 'Element_Selector/Libraries/p5/p5.js') }}"></script>
        <script src="{{ url_for('static', filename = 'Element_Selector/Libraries/p5/p5.sound.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'Element_Selector/sketch.js') }}"></script>
        <script src="{{ url_for('static', filename = 'Element_Selector/Element.js') }}"></script>
<!-- both works       <script src="{{ url_for('static', filename = 'Element_Selector/load_elements.js') }}"></script>-->
        <script src="static/Element_Selector/load_elements.js"></script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>p5.js example</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Element_Selector/style.css') }}">

    </head>
    <body>
    
</body></html>